@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');

*{
    margin: 0;
    padding: 0;    
}

body {
    background: linear-gradient(#fff2e7, #daba9e);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #2f2f2f;
}

#titulo-quiz {
    font-family: 'Montserrat', sans-serif;
    color: #2f2325;
    text-align: center;
    padding: 30px;
}

.pergunta {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #2f2325; 
    padding-top: 20px;     
}

form {
    border: 2px solid;
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

label {
    display: block;
    padding: 10px;
    padding-left: 400px;        
}

.botao {
    background: #594245;
    color: #ffffff;
    padding: 0.2em 0.6em;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 550px;
    cursor: pointer;
    transition: 2s all;
}

.botao:hover {
transform: scale(1.1);
background: #CCBBFF
}

#resultado {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#reload {
    display: none;
    background: #594245;
    color: #ffffff;
    padding: 0.2em 0.6em;
    border-radius: 4px;
    margin-top: 70px;
    margin-left: 600px;
    cursor: pointer;
    transition: 2s all;
}